In [2]:
import pandas as pd

df = pd.read_csv('cleaned_census.csv')

# Group actively working column by employer & create a column of percentages
grouped = df.groupby('employer')['actively_working'].value_counts().unstack()
grouped['active_%'] = grouped[True] / (grouped[True] + grouped[False]) * 100

# Rename columns for clarity
grouped.columns = ['actively_working', 'not_working', 'active_%']

# Export report to excel
grouped.to_excel('reports/active-members-report.xlsx', index=True)

In [3]:
# Active members report
grouped

          actively_working  not_working   active_%
employer
ABC Corp              7533         7503  49.900239
DEF Ltd               7620         7460  49.469496
XYZ Inc               7723         7503  49.277552