## Salary Analysis

There was a discrepancy with the salary entry of "$50,000". The unnatural distribution of this value in comparison with other values indicates it could have been entered as a default placeholder where salary was unknown. (See [Exploratory Data Analysis & Cleaning](eda.ipynb) for more details). These placeholders were removed to avoid seeing skewed statistics in this report.

In [3]:
import pandas as pd

df = pd.read_csv('cleaned_census.csv')

# Group by 'local_number' and calculate the average, median, and standard deviation of salaries
grouped = df.groupby('local_number')['salary'].agg(['mean', 'median', 'std']).reset_index()

# Rename the columns for clarity
grouped.columns = ['local_number', 'average_salary', 'median_salary', 'salary_std']

# Export report to Excel
grouped.to_excel('reports/salary-analysis.xlsx', index=False)

In [4]:
# Salary analysis report
grouped

   local_number  average_salary  median_salary   salary_std
0           101    55009.390007        55031.0  5777.390194
1           102    55053.949273        55136.0  5794.463771
2           103    54986.779822        54972.0  5741.726374
3           104    54949.277320        54861.0  5797.901854
4           105    54955.906142        54949.0  5772.857040